{% extends 'base.html' %}
{% load static i18n %}

{% block css%} 
  <link rel="stylesheet" type="text/css" media="screen"
     href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
 <style>
 .bootstrap-datetimepicker-widget{
 	min-width: 250px;
 	width: 270px;
 }
 </style>
 
{%endblock%}


{% block content %}

<h1> {% trans "Creating a reservation"%} </h1>
<form class="form-horizontal" method="post">
{% csrf_token %} 
	
<div class="form-group">
	{{ form.reserved_start_date.errors }}
	<label id="{{ form.reserved_start_date.id_label_tag }}" class="col-sm-2 control-label" > {% trans 'Reservation start date' %} </label>
<div id="dtp_reserved_start_date" class="input-append date">
	<div class="col-sm-2">							
	      {{ form.reserved_start_date }}
    </div>

	<div class="col-sm-2">
		 <span class="add-on">
	        <i  class="glyphicon glyphicon-calendar"  aria-hidden="true" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	      </span>
	</div>
</div>
</div>
	

<div class="form-group">
	{{ form.return_date.errors }}
	<label id="{{ form.return_date.id_label_tag }}" class="col-sm-2 control-label" > {% trans 'Return date' %} </label>
<div id="dtp_return_date" class="input-append date">
	<div class="col-sm-2">							
	      {{ form.return_date }}
    </div>

	<div class="col-sm-2">
		 <span class="add-on">
	        <i  class="glyphicon glyphicon-calendar"  aria-hidden="true" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	      </span>
	</div>
</div>
</div>
	
<button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
</form>

{% endblock %}

{% block js %}
<script type="text/javascript"
     src="{% static 'js/bootstrap-datetimepicker.min.js' %}">
    </script>
    
        <script type="text/javascript">
	      rsd= $('#dtp_reserved_start_date').datetimepicker({
	        format: 'MM/dd/yyyy hh:mm',
	      });
	      rd= $('#dtp_return_date').datetimepicker({
	        format: 'MM/dd/yyyy hh:mm',
	      });
</script>
    
{% endblock %}
